<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; char- set=UTF-8" />
    <title>Mails</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script type='text/javascript'>

    function goToMail(e){
        window.location.replace("../formMail?id=" + e);
    }

        function menu(){
            window.location.replace("../");
        }
    </script>
</head>
<body>
<h1>Mails</h1>
<button onclick="javascript:menu()">
    Retour au menu
</button>
<p>Mails :</p>
<ul th:each="e : ${listeMailsId}">
    <li th:text="${e}"/><br/>
</ul>
<button  th:onclick="'javascript:goToMail(\''+ ${idContact} +'\');'">
    Ajouter mail
</button>
</body>
</html>