<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; char- set=UTF-8" />
</head>
<body>
<p th:text="'id = ' + ${id} " />
<p th:text="'value = ' + ${value} " />
<p th:text="'fooCookie = ' + ${foo} " />
<p th:text="'oldValueSession = ' + ${oldValueSession} " />
<p th:text="'valueSession = '+ ${session.valueSession}"/>
<p th:text="'valueSession2 = '+ ${session.valueSession2}"/>
<ul th:each="e : ${someList}">
    <li th:text="${e}"/><br/>
</ul>
</body>
</html>